* {
    margin: 0;
    padding: 0;
    font-size: 100%;
    border: none;
    outline: none;
    font-weight: 300;
    box-sizing: border-box;
}

body {
    background: #141516;
    color: #d7d0c7;
    font-family: 'Inconsolata', monospace;
}

input {
    background: #1a1d20;
    padding: 1%;
    margin: 1%;
    transition: background 1s;
    color: #797979;
    font-family: inherit;
}

#container-search {
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@media screen and (min-width: 990px) {
    input {
        font-size: 0.95em;
        width: 30%;
        position: relative;
    }
    .container {
        margin: auto;
        width: 70%;
        height: 60%;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }

    input:focus {
        background: inherit;
        color: inherit;
    }
}

@media screen and (max-width: 989px) {
    input {
        width: 98%;
        padding: 3%;
        font-size: 1em;
    }
}
