* {
    border: none;
    box-sizing: border-box;
    font-size: 100%;
    font-weight: 100;
    margin: 0;
    outline: none;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #141516;
    height: 100vh;
}

.container-search {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    height: 50%;
    width: 70%;
    transition: ease all .5s;
}

input {
    padding: 8px;
    text-align: center;
    background-color: inherit;
    flex-grow: 1;
    width: 33%;
    font-family: "Inconsolata", monospace;
    color: #D1DBE6;
    border: solid 1px #3A3D40;
    margin: 10px;
    transition: border ease-in-out .4s;
    transition: ease all .5s;
}

input:focus {
    border: solid 1px #747A80;
}

@media screen and (min-width: 990px) {
    input {
        width: 30%;
    }
}

@media screen and (max-width: 1200px) {
    input {
        width: 33%;
    }
}

@media screen and (max-width: 989px){
    input {
        width: 80%;
        font-size: 1.2em;
    }
    .container-search {
        width: 70%;
        height: 70%;
    }
}

@media screen and (max-height: 900px) {
    .container-search {
        height: 70%;
    }
}

@media screen and (max-width: 700px) {
    .container-search {
        width: 90%;
    }
}

@media screen and (max-height: 800px) {
    .container-search {
        height: 80%;
    }
}